.card {
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.users_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: #e9ecef !important;
    border: 0 !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: #e9ecef !important;
    border: 0 !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

textarea {
    border-radius: 15px 0 0 15px !important;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    border: 0 !important;
    cursor: pointer;
}

.users {
    list-style: none;
    padding: 0;
}

.users li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 50px;
    width: 50px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 50px;
    width: 50px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
    display: "inline-block"
}

.online_icon {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.27em;
    right: 0.05em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 15px;
    color: white;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.control {
    margin-left: 50px;
    margin-top: 5px;
}

.room-control span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    min-width: 220px;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
    min-width: 220px;
}

.msg_time {
    position: absolute;
    left: 10px;
    bottom: -17px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

.msg_time_send {
    position: absolute;
    right: 10px;
    bottom: -17px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

.msg_head {
    position: relative;
}

.justify-space-between {
    justify-content: space-between;
}

.room-control a {
    color: white;
}

.room-control a:hover {
    color: #FFF;
    text-decoration: underline;
}

.tooltip_icon {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #FFF;
}

.tooltip_icon .tooltiptext_icon {
    display: none;
    background-color: #FFF;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
}

.tooltip_icon:hover .tooltiptext_icon {
    display: block;
}

/* #action_menu_btn{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.action_menu{
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}
.action_menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.action_menu ul li{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}
.action_menu ul li i{
    padding-right: 10px;

}
.action_menu ul li:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
} */

@media(max-width: 576px) {
    .users_card {
        margin-bottom: 20px !important;
    }
    .msg-card {
        margin-bottom: 20px !important;
    }
    .img_cont_msg {
        display: none;
    }
}

@media (max-width: 919px) {
    .chat-container {
        height: 100% !important;
    }
    .msg_cotainer {
        min-width: 120px;
    }
    .msg_cotainer_send {
        min-width: 120px;
    }
}