<!DOCTYPE html>
<html>
    <head>
        <title>Chat Application</title>
    </head>

    <body>
        <div class = "container">
            <h2 class="text-center">Can not find <%= url %></h2>
        </div>
    </body>
</html>