<footer class="footer-wrapper">

    <!-- Footer container section: starts -->
    <div class="footer-container container">
        <div class="">

        </div>
    </div>
    <!-- Footer container section: ends -->

</footer>